body
{
    background-color: #98FB98;
 color: black;
}
p{
    font: 15px verdana;
    color:black;
}
h1
{
    color:black;
}
h2
{
    color:black;
}
h3
{
    color:black;
}
h4
{
    color:black;
}
li 
{
    color: black;
    font: 15px verdana;
    text-align: justify;
}
img
{
  margin: auto;
margin-auto: 0;
display: block;
}